.botao{
    width: 200px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4F4;
    border-radius: 20px;
    font-family: 'Happy Monkey', system-ui;
    font-size: 2rem;
    color: #4B6E87;
    box-shadow: 0 4px 4px 0 rgb(32, 118, 248, 25%);
}

.cadastro{
    width: 99px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4F4;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 4px 4px 0 rgb(32, 118, 248, 25%);
}