body{
    width: 100vw;
    /* height: 100vh; */
    background-color: #D2EAFF;
}

header{
    width: 100%;
}

.header-container{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 38px;
}

.title-tasks-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #435D69;
    font-family: 'Happy Monkey', system-ui;
}

.line{
    width: 353px;
    height: 2px;
    background-color: #435D69;
}

.menu-search-trash-right-side-container{
    display: flex;
    align-items: center;
    gap: 28px;
    padding-right: 38px;
}

.menu-search-trash-right-side-container #search, #trash, #menu{
    cursor: pointer;
}

main{
    padding-left: 133px;
}

.tasks-pendentes{
    display: flex;
    gap: 54px;
}

.task-container, .add-task-container{
    width: 185px;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 169, 169, 53%);
    border-radius: 10px;
}

.task-container h4{
    font-size: 1rem;
    font-family: 'Happy Monkey', system-ui;
}

.task-container h5, .add-task-container h2{
    font-family: "Roboto Condensed", sans-serif;
}