body{
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    background-color: #D2EAFF;
}

header{
    width: 100%;
}

h1{
    font-family: 'Happy Monkey', system-ui;
}

.header-container{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 38px;
}

.title-tasks-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #435D69;
    font-family: 'Happy Monkey', system-ui;
}

.line{
    width: 353px;
    height: 2px;
    background-color: #435D69;
}

.menu-search-trash-right-side-container{
    display: flex;
    align-items: center;
    gap: 28px;
    padding-right: 38px;
}

.menu-search-trash-right-side-container #search, #trash, #menu, .user-left-side-container img, #add-task{
    cursor: pointer;
}

main{
    width: fit-content;
    padding-left: 133px;
    display: flex;
    /* gap: 50px; */
    width: 100%;
    
}

.main-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 87px;
    
}

.teste{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tasks-pendente-container, .tasks-finalizadas-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tasks-pendentes, .tasks-finalizadas{
    display: flex;
    gap: 54px;
}

.task-container, .finalizadas-task-container{
    gap: 4px;
}

.task-container, .add-task-container{
    width: 185px;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 169, 169, 53%);
    border-radius: 10px;
}

.tasks-pendente-container h1, .tasks-finalizadas-container h1{
    font-size: 24px;
}

h4{
    font-size: 1rem;
    font-family: 'Happy Monkey', system-ui;
}

h5, h2{
    font-family: "Roboto Condensed", sans-serif;
}

h5{
    width: 156px;
    font-size: 14px;
    font-weight: lighter;
    color: #6D5C5C;
}

h2{
    width: 109px;
    text-align: center;
    font-size: 20px;
}

.finalizadas-task-container{
    width: 185px;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(164, 125, 204, 53%);
    border-radius: 10px;
}



/* ******** comentarios ******** */

.comentarios{
    
    /* background-color: rgba(0, 0, 0, 0.527); */
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-container{
    position: absolute;
    left: 120px;
    bottom: 655px;
    height: 10vh;
    width: 20vw;
   
}

 .button-container button{
    background-color:transparent;
    border: none;
}

.coment{
    height: 60vh;
    width: 40vw;
    background-color: #E7BDCC;  
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  
} 

input{
    height: 8vh;
    width: 26vw;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #E2EEF5;
}

input:focus{
border: none;
outline: none;

}

.mostrarComentario{
    height: 8vh;
    width: 26vw;
    border-radius: 10px;
    background-color:#E2EEF5 ;
}

footer{
    width: fit-content;
    z-index: -1;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
}
/* 
.tasks-pendente-container button{
display: flex;

} */


