body{
    width: 100vw;
    height: 100vh;
    background: rgb(210,234,255);
    background: linear-gradient(180deg, rgba(210,234,255,1) 37%, rgba(255,211,211,1) 90%);
}

main{
    height: 100%;
}

.main-container{
    height: 100%;
    gap: 87px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px;
}

.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Happy Monkey", system-ui;
    gap: 20px;
}

.container-logo h1{
    font-size: 32px;
    font-weight: normal;
    color: #4B6E87;
}

.container-logo h2{
    font-size: 16px;
    font-weight: bold;
}

.container-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-family: "Happy Monkey", system-ui;
}

input{
    width: 356px;
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    padding-left: 32px;
    border-bottom: solid #A36180 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #A36180;

}

#email{
    background-image: url(../img/flor.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

#senha{
    background-image: url(../img/cadeado.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

input::placeholder{
    color: #A36180;
    font-family: "Roboto Condensed", sans-serif;
}

.container-info{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input:focus{
    border:none;
    outline: none;
    border-bottom: solid #A36180;
}

.container-info button{
    border: none;
}

.container-info p{
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
}